.singlePerson {
  background-color: rgb(195, 253, 239);
  padding: 20px;
  margin: 1px;
  display: grid;
  grid-template-columns: repeat(3) 1fr;
}
.button-design {
  margin-top: 5px;
  padding: 5px 6px;
  border-radius: 10px;
  background-color: rgb(75, 72, 72);
  color: white;
}

h3,
p {
  margin: 0;
}
.sImage {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
