.singlePerson {
  background-color: rgb(9, 158, 121);
  padding: 20px;
  margin: 1px;
  display: grid;
  grid-template-columns: repeat(3) 1fr;
}
.button-design {
  background-color: rgb(91, 190, 10);
}

h3,
p {
  margin: 0;
}
.sImage {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
